Admix.r
admixture.sh
AMCFST.R
anal.r
CorrelationTest.r
CSSanal.r
CSS_hapflkplot.r
CSS.r
data
DominantEffect.r
DroneAnalysis.r
DroneHapPlot.r
Drone_HWE.r
DronePlots.r
drone_re-GWAS.sh
elai_chr.sh
extractFST.r
GenicDiff_elaiplot.r
GenomeR
GG_elaiplot.r
GG_hapflkplot.r
GWASCompilation.sh
gwas_power
hapflk_2pop.sh
hapflkplot.r
hapflk.sh
hapflksummary.r
hapGWASsummary.r
Haplotype_REANAL.sh
LAMPanalysis.r
LAMP_NA.sh
LAMP.sh
NAAdmixture.r
NAAdmixture.sh
NGMDRONE.sh
plinkHaps.sh
PlotGeneRegions_diploid.r
PlotGeneRegions.r
QTLplotter.r
REHH.sh
ScaffMaptoChr.r
scaffold_to_chr.pl
TDsummary.r
trimdrone.sh
turnfile.sh